.text-center{
   text-align: center;
}

.bg{
    background: yellowgreen;
}
.mx-auto{
    /*
    margin: auto;
    */
    
}

.m-width{
    /*
    max-width: 12vw;
    */
    padding-left: 10px;
}

.button{
    padding: 12px  14px;
    border:2px solid darkgreen;
    border-radius:9px;
    cursor:pointer;
   
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.flex-col{
    flex-direction: column;
    
}

.row{
    margin: 8px 8px;
}

.input{
    
    border: 3px solid darkgreen;
    border-radius: 9px;
    max-width: 150px;
    font-size: 17px;
}

.container {
    max-width: 200px; /* Adjust the desired width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px 0px;
    border: 3px solid darkolivegreen;
    border-radius: 9px;
  }

  @media (max-width: 900px) {
    .container {
      max-width: 200px; /* Set a different width for smaller screens */
      border: 3px solid darkolivegreen;
      border-radius: 9px;
    }
  }

  .button1{
    padding: 0px 20px;
    border:2px solid darkgreen;
    border-radius:9px;
    cursor:pointer;
    max-width: 75sspx;
  }
  